/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*@import 'whatever';*/
 @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

div.login-signup > a{
  font-size: 14px;
  border-radius: 5px;
  color: white;
  background-color: red;
  border: none;
  padding: 10px;
}

div.movie-play{
  height: 100%;
  width: 100%;
}

img.movie-searched-poster{
  max-width: 300px;
  max-height: 300px;
  min-height: 215px;
  min-width: 100px;
  width: auto;
  height: auto;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

img.movie-searched-poster:hover{
  border: red 1px solid;
}

div.search-list{
  display: flex;
  float: right;
}

button.search{
  left: 100%;
  display: flex;
  position: relative;
}

#logo-search{
  top: 1%;
  left: 2%;
}



div.movie-playing{
  position: fixed;
  display: flex;
  top: 7%;
  z-index: -1;
  float: right;
  border: none;
  height: 102%;
  width: 98%;
  right: 1%;
  padding: 2px;
}

iframe.movie-player{
  width: 100%;
  height:90%;
  border: none;
  background-color: #1A1A1A;
}

p{
  font-family: arial, sans-serif;
}
input{
  font-family: arial, sans-serif;
}
h1, h2, h3, h4, h5, h6{
  font-family: arial, sans-serif;
}

div.root{
  height: 100%;
  width: 100%;
}

div.slider-decorator-2{
  display: none;
}

img.movie{
  height: 100%;
  width: auto;
  right: -98%;
  position: absolute;
  padding: 2px;

}

h2.title{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 35px;
  left: 10px;
  opacity: none;
}
a.movie-play-header{
  text-decoration: none;
  color: red;
  top: 2%;
  position: absolute;
  font-size: 30px;
  left: 2%;
  z-index: 1
}

div.hide-these:hover{
  opacity: .85;

}


div.hide-these{
  justify-content: space-between;
  display: inline-block;
  position: absolute;
  width: 35%;
  font-size: 150%;
  padding: 8px;
  opacity: 0.0;
  height: 60%;
  top: 15%;
  background: #1A1A1A;

}

h1.title{
  top: 5%;
  color: white;
  font-size: 90%;
  padding: 7px;
  position: absolute;
}


p.description{
  position: absolute;
  padding: 7px;
  top: 12%;
  color: white;
  font-size: 70%;
  margin: 3px;
}

p.year{
  color: white;
  position: absolute;
  padding: 7px;
  top: 47%;
  font-size: 70%;
}
p.genre{
  color: white;
  position: absolute;
  padding: 7px;
  top: 59%;
  font-size: 70%;
}
p.actors{
  color: white;
  position: absolute;
  padding: 7px;
  top: 70%;
  font-size: 70%;
}

img.movie-poster:hover {
    border-left: red 2px solid;
    cursor: pointer;
}

img.movie-poster{
  max-width: 75px;
  max-height: 125px;
  width: auto;
  height: auto;
  min-width: 60%;
  min-height: 70%;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 100;

}

span.main-movies{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2.signup-or-login{
  text-align: center;
  color: white;
}

label.signup-or-login{
  color: white;
}

header.logo{
  display: flex;
  width: 50%;
  position: absolute;

}

nav > p{
  color: white;
  position: fixed;
  top: 0%;
  right: 58%;
  font-size: 112%;
}
a.header-link{
  text-decoration: none;
  color: red;
  top: -7%;
  position: absolute;
  font-size: 30px;
  left: -5%;
}

a.splash-logo{
  left: 3%;
}
h1.logo{
  font-size: 30px;
}

button.movie-play{
  position: absolute;
  right: 2%;
  top: 0%;
  cursor: pointer;
}
h2.header-name{
  display: flex;
  float: right;
}
img.splash-image{
  width: 600px;
  height: 600px;
  z-index: -100;
}
div.login-signup{
  display: flex;
  float: right;
  position: fixed;
  right: 3%;
  top: 3%;
  width: 50%;
  justify-content: flex-end;
}

div.over-demo{
  position: absolute;
  top: 200px;
  left: 50px;
}

div.over-demo > h2{
  color: white
}
div.over-demo > p{
  color: white
}

div.splash-div{
  min-width: 200px;
  min-height: 700px;
  max-height: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background: url('http://res.cloudinary.com/dqiuefax1/image/upload/v1478817057/giphy_5_txuflu.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


iframe.splash-player{
  width: 100%;
  height: 700px;
}

input.button {
  font: Sans-serif;
  font-size: 12px;
  border-radius: 5px;
  color: white;
  background-color: red;
  border: none;
  padding: 7px;
  margin: 5px;
  margin-top: 20px;
  margin-right: 15px;
  cursor: pointer;
}
button {
  font: Sans-serif;
  font-size: 12px;
  border-radius: 5px;
  color: white;
  background-color: red;
  border: none;
  padding: 10px;
  margin: 5px;
  margin-top: 10px;
  margin-right: 15px;
  cursor: pointer;
}

button.splash-demo{
  position: absolute;
  font-size: 16px;
  top: 300px;
  left: 50px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;

}
header{
  position: absolute;
}

div.main-header{
  display: flex;
  min-height: 300px;
  justify-content: space-around;
  background-color: #1A1A1A;
  position: absolute;
  width: 100%;
}

img.display-film{
  display: flex;
  min-width: 40%;
  min-height: 100%;
}
img.display-film:first-child{
  float: left;
}
img.display-film:last-child{
  float: right;
}


div.main-header > button{
  max-height: 30px;
  position: absolute;
  display: flex;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
div.main-header > input.button{
  max-height: 30px;
  position: absolute;
  display: flex;
  left: 10px;
  top: 200px;
  cursor: pointer;
}
input.search{
  max-height: 30px;
  min-width: 150px;
  display: inline-block;
  position: absolute;
  left: 44%;
  top: 12%;
  margin: 11px;
  z-index: 3;
}

body{
  background-color: #141414;
}

input.play{
  position: absolute;
  top: 80%;
  left: 95%;
  padding: 4px;
  z-index: 5;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
}

input.movie-play{
  position: absolute;
  top: 50%;
  left: 75%;
  padding: 4px;
  z-index: 5;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
}

h3.label{
  color: white;
  background-color: #141414;
  padding-left: 6px;
}

h3.IMDB-50{
  background-color: #1A1A1A;
}

input#unique{
  left: 90%;
  top: 100%;
  z-index: 15;
  position: relative;
}

nav{
  display: flex;
  z-index: 13;
  width: 100%;
  height: 10%;
  opacity: .93;
  position: fixed;
  top: 0%;
  background: #1A1A1A;
}

nav >button.header-bar{
  position: fixed;
  right: 4%;
}
h1.logo{
  color: red;
  display: flex;
  top: 2%;
  position: fixed;
}

div.main-content-splash{
  justify-content: space-between;
  display: inline-block;
  position: absolute;
  bottom: 22%;
  width: 50%;
  height: 66%;
  font-size: 150%;
  margin: 10px;
  padding: 8px;
  background-color: inherit;
  left: 5%;
  opacity: .8;
  z-index: 2;
  background: linear-gradient(to right, #1A1A1A, 80% rgba(0,0,0,0));
}


h3.IMDB-50{
  position: relative;
  top: 7%;
  z-index: 3;
}
div.search-results{
  width: 85%;
  height: 100%;
  margin-left: 15%;
}


div.main-content-splash > h1{
  text-align: center;
}

h1.main-content-splash{
  text-decoration: none;
  color: white;
  top: 0%;
  position: absolute;
  font-size: 150%;
  left: 4%;
  padding: 8px;
}


p.main-content-splash{
  color: white;
  width: 90%;
  height: 1%;
  font-size: 91%;
  display: inline-block;
  padding-top: 20px;
}

img.main-content-splash{
  display: inline-block;
  margin: 10px;
  width: auto;
  min-height: 60%;
  min-width: 25%;
  max-height: 95%;
  max-width: 100%;
  padding-top: 44px;
  padding-right: 9px;
  position: absolute;
  right: 8%;
}


div.main-div{
  position: absolute;
    bottom: -32%;
    width: 100%;
    height: 50%
}

div.main-div:first-child{
  background-color: #1A1A1A;
  background-image:
    linear-gradient(
      #1A1A1A,
      #141414 30%
    );
}

div.IMDB-50{
  background-image:
    linear-gradient(
      #1A1A1A,
      #141414 30%
    );
}

div.slider{
  position: absolute;
  bottom: 1%;
  background-color: #141414;
  padding: 15px;
  min-height: 150px;

}

p.main-description{
  padding-top: 40px;
}

div.content-holder{
  width: 100%;
  min-height: 650px;
  background-color: #1A1A1A
}

#splash-poster:hover{
  border-bottom: red 2px solid;
  cursor: pointer;
}

span.main-movies{
  display: flex;
  max-height: 300px;
  max-width: 800px;
}

span.main-movies > img{
  margin: 10px;
  padding: 10px;
  justify-content: space-around;
  max-width: 100px;
  max-height: 200px;
}

h1.splash{
  margin: 5px;
}

button.login{
  position: fixed;
  top: 1%;
  right: 18%;
}

button.signup{
  position: fixed;
  top: 1%;
  right: 3%;
}



fieldset, label { margin: 0; padding: 0; }
body{ margin: 1px; }


/****** Style Star Rating Widget *****/

.rating {
  border: none;
  width: 115px;
  left: 0%;
  position: absolute;
  bottom: 5%;

}

.rating > input { display: none; }
.rating > label:before {
  margin: 3px;
  font-size: 70%;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
  text-shadow: 1px 1px black;
}

.rating > label {
  color: white;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #E00609;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #E00609;  }

div.login-signup{
position: fixed;
top: 2%;
right: 13%;
}

div.loading
{
  background-color: #404456;
  width: 4000px;
  height: 4000px;


}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2.7em;
  margin-left: -2.7em;
  width: 5.4em;
  height: 5.4em;
  background-color: #404456;
}

#hill {
  position: absolute;
  width: 7.1em;
  height: 7.1em;
  top: 1.7em;
  left: 1.7em;
  background-color: transparent;
  border-left: .25em solid whitesmoke;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hill:after {
  content: '';
  position: absolute;
  width: 7.1em;
  height: 7.1em;
  left: 0;
  background-color: #404456;
}

#box {
  position: absolute;
  left: 0;
  bottom: -.1em;
  width: 1em;
  height: 1em;
  background-color: transparent;
  border: .25em solid whitesmoke;
  border-radius: 15%;
  -webkit-transform: translate(0, -1em) rotate(-45deg);
  -moz-transform: translate(0, -1em) rotate(-45deg);
  -ms-transform: translate(0, -1em) rotate(-45deg);
  transform: translate(0, -1em) rotate(-45deg);
  animation: push 2.5s cubic-bezier(.79, 0, .47, .97) infinite;
}

@keyframes push {
  0% {
    transform: translate(0, -1em) rotate(-45deg);
  }
  5% {
    transform: translate(0, -1em) rotate(-50deg);
  }
  20% {
    transform: translate(1em, -2em) rotate(47deg);
  }
  25% {
    transform: translate(1em, -2em) rotate(45deg);
  }
  30% {
    transform: translate(1em, -2em) rotate(40deg);
  }
  45% {
    transform: translate(2em, -3em) rotate(137deg);
  }
  50% {
    transform: translate(2em, -3em) rotate(135deg);
  }
  55% {
    transform: translate(2em, -3em) rotate(130deg);
  }
  70% {
    transform: translate(3em, -4em) rotate(217deg);
  }
  75% {
    transform: translate(3em, -4em) rotate(220deg);
  }
  100% {
    transform: translate(0, -1em) rotate(-225deg);
  }
}
