/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

div.login-signup > a{
  font-size: 14px;
  border-radius: 5px;
  color: white;
  background-color: red;
  border: none;
  padding: 10px;
}

h2.signup-or-login{
  text-align: center;
  color: white;
}

label.signup-or-login{
  color: white;
}

header.logo{
  display: flex;
  width: 50%;
}
a.header-link{
  text-decoration: none;
  color: red;
}

h2.header-name{
  display: flex;
  float: right;
}
img.splash-image{
  width: 600px;
  height: 600px;
  z-index: -100;
}
div.login-signup{
  display: flex;
  float: right;
  width: 50%;
  justify-content: flex-end;
}

div.over-demo{
  position: fixed;
  top: 200px;
  left: 50px;
}

div.over-demo > h2{
  color: white
}
div.over-demo > p{
  color: white
}

div.splash-div{
  min-width: 200px;
  min-height: 700px;
  max-height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://media.giphy.com/media/kyNZGsYkvweqc/giphy.gif");
}

input.button {
  font: Sans-serif;
  font-size: 12px;
  border-radius: 5px;
  color: white;
  background-color: red;
  border: none;
  padding: 10px;
  margin: 5px;
  margin-top: 10px;
  margin-right: 15px;
}
button {
  font: Sans-serif;
  font-size: 12px;
  border-radius: 5px;
  color: white;
  background-color: red;
  border: none;
  padding: 10px;
  margin: 5px;
  margin-top: 10px;
  margin-right: 15px;
}

button.splash-demo{
  position: fixed;
  font-size: 16px;
  top: 300px;
  left: 50px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;

}
header{
  position: absolute;
}

div.main-header{
  border: black solid 2px;
  display: flex;
  background-image: url('http://guyspeed.com/files/2012/02/Groundhog-Day-Poster.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 300px;

}

modal.modal{
  background-color: black;
}

div.main-header > button{
  max-height: 30px;
  position: fixed;
  display: flex;
  right: 10px;
  top: 10px;
}
div.main-header > input.button{
  max-height: 30px;
  position: fixed;
  display: flex;
  left: 10px;
  top: 200px;
}
input.search{
  max-height: 30px;
  position: fixed;
  display: flex;
  left: 150px;
  top: 10px;
}

span.main-movies{
  display: flex;
  max-height: 300px;
  max-width: 800px;
}

span.main-movies > img{
  margin: 10px;
  padding: 10px;
  justify-content: space-around;
  max-width: 100px;
  max-height: 200px;
}
