/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*@import 'whatever';*/
 @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);


/* I have put modularized the css files, and listed them below for ease of navigation

Carousel
Head-footer
Index
Loader
Movie-play
Rating-star
Search
Splash

*/


body {
  font-family: sans-serif;
  background-color: #141414;
}

p{
  font-family: arial, sans-serif;
}
input{
  font-family: arial, sans-serif;
}
h1, h2, h3, h4, h5, h6{
  font-family: arial, sans-serif;
}

div.root{
  height: 100%;
  width: 100%;
  color: white;
}

#root{
  height: 100%;
  width: 100%;
  color: white;
}

.movies{
  padding-bottom: 40px;
  padding-top: 40px;
}

input.button {
  font: Sans-serif;
  font-size: 14px;
  border-radius: 5px;
  color: white;
  background-color: #E50914 !important;
  border: none;
  padding: 7px;
  margin: 5px;
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
}

button {
  font: Sans-serif;
  font-size: 14px;
  border-radius: 5px;
  color: white;
  background-color: #E50914 !important;
  border: none;
  padding: 10px;
  margin-top: 10px;
  margin-right: 6px;
  cursor: pointer;
}

button:hover{
  background:#F92F30;
}

.github-div, div.signup-div{
  width: 50%;
  float: right;
  display: inline-block;
}

a.github, button.signup{
  left: 56%;
  position: relative;
}

p.logo.linked{
  padding-right: 10px;
}



div.main-header{
  display: flex;
  min-height: 300px;
  justify-content: space-around;
  background-color: #1A1A1A;
  width: 100%;
}


div.main-header > button{
  max-height: 30px;
  position: absolute;
  display: flex;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
div.main-header > input.button{
  max-height: 30px;
  position: absolute;
  display: flex;
  left: 10px;
  top: 200px;
  cursor: pointer;
}


h3.label{
  color: white;
  background-color: #141414;
  padding-left: 6px;
  margin-left: 20px;
}



input#unique{
  left: 40%;
  bottom: 25%;
  position: relative;
}

.actor-search{
  top: 16%;
  position: fixed;
  padding-left: 40px;
  font-size: 3vw;
}


p.search{
  color: white;
  top: -1%;
  right: 58%;
  position: fixed;
  font-size: 1.6vw;
}
