input.search{
  height: 32px;
  min-width: 270px;
  display: inline-block;
  position: fixed;
  margin: 11px;
  z-index: 3;
  right: 15%;
  font-size: 18px;
  color:gray;
  background-image:url('http://i47.tinypic.com/r02vbq.png');
  background-repeat:no-repeat;
  background-position:right ;outline:0;
}

.splash-play-button{
  height: 60px;
  left: 73%;
  top: 40%;
  position: relative;
  cursor: pointer;
}


img.movie-searched-poster{
  max-width: 300px;
  max-height: 300px;
  min-height: 215px;
  min-width: 100px;
  width: auto;
  height: auto;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

img.movie-searched-poster:hover{
  border-left: red 2px solid;
  cursor: pointer;
  max-height: 315px;
}

.title-div{
  display: flex;
}


#splash-poster:hover{
  cursor: pointer;
}

div.content-holder{
  width: 100%;
  min-height: 650px;
  background-color: #1A1A1A
}

div.main-content-splash{
  display: inline-block;
  position: absolute;
  top: 5%;
  width: 45%;
  font-size: 1.6vw;
  margin: 20px;
  padding: 10px;
  opacity: .8;
  overflow: auto;
  flex-direction: column;
  z-index: 2;
  background: linear-gradient(to right, #1A1A1A, 80% rgba(0,0,0,0));
}

h1.main-content-splash{
  text-decoration: none;
  color: white;
  font-size: 3vw;
}

p.main-content-splash{
  color: white;
  width: 100%;
  font-size: 1.6vw;
}

img.main-content-splash{
  display: inline-block;
  margin: 10px;
  top: 8%;
  right: 8%;
  padding-right: 5px;
  position: relative;
  float: right;
  width: 35%;
    max-width: 400px;
}

div.search.header-bar{
  width: 25%;
    right: 10%;
    padding-top: 5px;
    position: fixed;
}

div.index-page{
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
