div.search-results{
  width: 85%;
  height: 100%;
  margin-left: 15%;
  padding: 100px 0px 200px 14px;
}

.Movie-Search{
  width: 80%;
  height: 60px;
  font-size: 2.1em;
}

.search-clear{
  border: 1px solid white;
  background-color: #1a1a1a;
  color: white;
  float: right;
}


.actor-name{
  cursor: pointer;
}

.Search-display{
  font-size: 1.4em;
}
